.background {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.green-background {
  background-color: #94ba0a;
  padding: 170px 15px 110px 15px;
}

.textbox {

}

.text {
  color: #fff;
  font-size: 53px;
  text-align: center;
}