* {
  margin: 0px;
  padding: 0px;
}
  
html {
  height: 100%;
}

body {
  font-family: Arial;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

h1 {
  Color: #FFFFFF;
  text-align: center;
  margin-top: 180px;
  font-size: 53px;
  font: Arial;
}

h2 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 26px;
  font: Arial;
}

.header-ul {
  text-align: center;
  float: right;
  padding-top: 25px;
  padding-right: 50px;
}

.header-li {
  list-style: none;
  margin: 0 20px;
  font-size: 12px;
  float: left;
}

.container {
  background: #FFFFFF;
  Color: #555555;
  font-size: 12px;
  font: Arial;
  max-width: 100%;
  z-index: 1;
  height: 70px;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
}

.title {
  background: linear-gradient(45deg,rgba(93,163,27,1) 0%,#9fbf06 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 518px;
  width: auto;
}

.rayout {
  background: #FFFFFF;
  width: 97%;
  height: 100%;
  margin-top: 380px;
  z-index: 1;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contents {
  width: 1000px;
  float: left;
}

.content {
  padding-top: 25px;
  padding-right: 80px;
}

.header-title {
  Color: #555555;
  font-size: 18px;
  font: Arial;
  float: left;
  padding-top: 25px;
  padding-left: 50px;
}

.content-image {
  float: left;
  width: 360px;
  height: 240px;
  padding-top: 20px;
  padding-left: 50px;
  z-index: 1;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

.tag {
  Color: #89229b;
  font-size: 14px;
}

.author {
  Color: #000000;
  font-size: 14px;
  padding-top: 10px;
}

.text {
  Color: #999999;
  font-size: 14px;
  padding-top: 20px;
}

.article-info {
  float: right;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 100px;
}

footer {
  Color: #FFFFFF;
  background-color: #323437;
  height: 100px;
}

.footer-ul {
  text-align: center;
  float: left;
  padding-top: 40px;
  padding-left: 50px;
}

.footer-li {
  list-style: none;
  margin: 0 20px;
  font-size: 12px;
  float: left;
}

.salon-name {
  Color: #FFFFFF;
  font: Arial;
  float: right;
  padding-top: 40px;
  padding-right: 50px;
  font-size: 14px;
}

.side-bar {
  float: right;
  width: 300px;
}

.profile-img {
  padding-top: 100px;
}
