<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/component/header.css" />
  </head>
  <body class="header">
    <div class="container flexbox">
      <div class="site-name">
        <a class="site-name-button" href="">IT.All-integration</a>
      </div>
      <div class="top-menu-button flexbox">
        <a href="" class="menu-button">プログラミング</a>
        <a href="" class="menu-button">コミュニティ</a>
        <a href="" class="menu-button">サロン紹介</a>
      </div>
    </div>
  </body>
</html>
