<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/css/styles.css">
    <link rel="stylesheet" href="../../../assets/css/component/pages/top/background.css">
  </head>
  <body>
    <div class="background">
      <div class="green-background">
       <div class="textbox">
         <h1 class="text">Grow together in the community</h1>
       </div>
      </div>
    </div>
  </body>
</html>
