<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/css/styles.css">
    <link rel="stylesheet" href="../../../assets/css/component/pages/top/contents.css">
    <link rel="stylesheet" href="../../../assets/css/component/components.css">
  </head>
  <body>
    <div class="container">
      <div class="article-list">
        <div class="new-articles">
          <iframe src="../../parts/list/new_article_list.html" frameborder="0"></iframe>
        </div>
        <div class="to-community-articles">
          <iframe src="../../parts/list/to_community_articles_list.html" frameborder="0"></iframe>
        </div>

      </div>
      <div class="sidebar">
        <div class="owner-profile">
          <iframe src="../../parts/profile/owner_shiota.html" frameborder="0"></iframe>
        </div>
        <div class="search-bar">
          <iframe src="../../parts/textbox/search_bar.html" frameborder="0"></iframe>
        </div>
        <div class="category-list">
          <iframe src="../../parts/list/category_list.html" frameborder="0"></iframe>
        </div>
        <div class="archive-list">
          <iframe src="../../parts/list/archives_list.html" frameborder="0"></iframe>
        </div>
        <div class="programing-article-slide">
          <iframe src="../../parts/slide/programming_articles_slide.html" frameborder="0"></iframe>
        </div>
        <div class="community-article-slide">
          <iframe src="../../parts/slide/community_archives_slide.html" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
