.l_calc {
<<<<<<< HEAD
    border: #000;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

.l_button {
    border-radius: 4px;
    color: rgb(253, 253, 253);
    background-color: #777;
}

.l_calcLog {
    color: #000;
    margin: 30px;
}

.l_calcLog_card {
    color: #000;
    margin: 10px;
=======
  border: #000;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
}

.l_button {
  border-radius: 4px;
  color: #fff;
  background-color: #777;
>>>>>>> develop
}
