/* PC */

.header-component {
  width: 100%;
  height: 70px;
  z-index: 10;
}

.header-component iframe{
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 10;
}

.background-component {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-component iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* タブレット */
@media screen and (max-width: 991px) {
  
}

/* ヘッダーのメニューバーが変わる位置 */
/* 横の背景が消える位置 */
@media screen and (max-width: 764px) {
  
}

/* スマホ */
@media screen and (max-width: 480px) {
  
}
