/* 初期設定 */
*:before, *:after {
  box-sizing: border-box;
}


body{
  width: 100%;
  color: #3c4858;
  font-family: Arial,Helvetica,sans-serif;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.618;
  font-size: 14px;
}

/* リンクの基本設定 */
a{
  text-decoration: none;
}
.wrapper-default{
  width: 100%;
}

/* ヘッダー */
header{
  display: flex;
  height: 70px;
  /* display: block; */
  justify-content: space-between;
}
.title-logo-wrapper{
  margin-left: 5%;
}
.title-logo-wrapper p{
  /* margin-left: -90%; */
  padding: 10px;
  font-size: 18px;
  color: #555555;
  text-decoration: none;
  line-height: 10px;
}
/* ナビゲーション */
.navbar{
  list-style: none;
  display: flex;
  justify-content: center;
  line-height: 10px;
  margin-right: 5%;
  margin-left: 10px;
  padding: 15px 15px;
  /* padding: 10px; */
}

.header-list a{
  font-size: 12px;
  color: #555555;
  text-decoration: none;
    padding: 15px;
    border-radius: 3px;

}

.header-list a:hover{
  color: #e91e63;

}

