<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/css/styles.css">
    <link rel="stylesheet" href="../../../assets/css/component/parts/list/new_article_list.css">
  </head>
  <body>
    <div class="list-container">
      <!-- 以下は同じ構成の要素なので、コンポーネント化したかったですが時間がないので省略します。 -->
      <div class="article-container">
        <div class="thumbnail">
          <img src="../../../assets/img/top_page/OIP-360x240.jpg" alt="">
        </div>
        <div class="text-container">
          <a href="" class="category">FX・株</a>
          <h1 class="article-title">FXで副収入！</h1>
          <p class="sub-title">FX 初心者講座 ～その3～ 複利について 複利について解説していきます。 複利</p>
          <p class="writer-and-post-time">投稿者<span class="writer-name">motomasa</span>投稿日時:<span class="post-time">2ヶ月前</span></p>
        </div>
      </div>
      <div class="article-container">
        <div class="thumbnail">
          <img src="../../../assets/img/top_page/OIP-360x240.jpg" alt="">
        </div>
        <div class="text-container">
          <a href="" class="category">FX・株</a>
          <h1 class="article-title">FXで副収入！</h1>
          <p class="sub-title">FXで副収入！～初心者講座その２～ FXのメリットとデメリット 前回の記事ではF</p>
          <p class="writer-and-post-time">投稿者<span class="writer-name">motomasa</span>投稿日時:<span class="post-time">2ヶ月前</span></p>
        </div>
      </div>
      <div class="article-container">
        <div class="thumbnail">
          <img src="../../../assets/img/top_page/OIP-360x240.jpg" alt="">
        </div>
        <div class="text-container">
          <a href="" class="category">FX・株</a>
          <h1 class="article-title">FXで副収入！</h1>
          <p class="sub-title">FXを始めよう！～初心者講座～ FX = よくわからない FXに興味があるけど破</p>
          <p class="writer-and-post-time">投稿者<span class="writer-name">motomasa</span>投稿日時:<span class="post-time">3ヶ月前</span></p>
        </div>
      </div>
      <div class="article-container">
        <div class="thumbnail">
          <img src="../../../assets/img/top_page/fontAwesomefoto-360x240.png" alt="">
        </div>
        <div class="text-container">
          <a href="" class="category">プログラミング</a>
          <h1 class="article-title">expo Vue Native app でのFont Awesome の使い方</h1>
          <p class="sub-title">expo Vue Native app でのFont Awesome の使い方を紹介します</p>
          <p class="writer-and-post-time">投稿者<span class="writer-name">shuho</span>投稿日時:<span class="post-time">5ヶ月前</span></p>
        </div>
      </div>
    </div>
  </body>
</html>